.homeWrapper {
  padding: 75px 0;
  .scrollListWrapper {
    width: 1342px;
    margin: 20px auto;
    border: 1px solid #e97f05;
    .registerPublicItem {
      width: 100%;
      height: 100%;
      border: 1px solid #e97f05;
      contain: layout style paint;
    }
  }
}
