.homeWrapper {
  padding: 20px 0;
  .scrollListWrapper {
    width: 1342px;
    margin: 0 auto;
    .listItem {
      flex-shrink: 0;
      width: 434px;
      height: 338px;
      margin-right: 20px;
      border: 1px solid #e97f05;
      contain: layout style paint;
    }
  }
}
