.userForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .formContainer {
    width: 100%;
    min-height: 0;
    flex: 1;
    padding: 20px;
    .uploadButton {
      :global(.ant-upload-select) {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      :global(.anticon-upload) {
        display: block;
      }
      :global(.ant-upload-list-item) {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 0;
      }
      :global(.ant-upload-list-item::before) {
        width: 100px !important;
        height: 100px !important;
        border-radius: 50%;
      }
      :global(.ant-upload-list-item-thumbnail) {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      :global(.ant-upload-list-item-image) {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover !important;
      }
    }
  }
  .footerContainer {
    width: 100%;
    height: 60px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
  }
}
