:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 16px var(--sans);
  letter-spacing: 0.16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.app_container {
  width: 100vw;
  height: 100vh;
}