.menuContainer {
  min-width: 0;
  flex: 1;
  padding: 0 20px;
  :global(.ant-menu-horizontal) {
    border: none;
    background-color: transparent;
  }
  :global(.siderMenu) {
    border: none !important;
    min-height: calc(100vh - 64px);
  }
}
